<% @comment ||= @topic.comments.build %>
<%= form_for([@comment.commentable, @comment]) do |f| %>
  <%= f.label :comment, "添加回应" %>
  <%= f.ueditor_text :comment, :height => 50, :width => 667, :toolbars => [['undo', 'redo', '|', 'link','insertimage','|' , 'preview']] %>
<br>
<div class="action">
  <%= f.submit "提交", :class => "btn btn-primary" %>
  <div class="pull-right">
    <a href="#">编辑器语法帮助?</a>
  </div>
</div> 

<% end %>
