<%= provide(:title, "节点") %>
<div class="rows">
  <div class="span9">
  	<div class="box">
  	  <% @nodes.each do |node| %>
       <%= node.name %>
       <%= markdown node.introduction %>
      <% end -%>
  	</div>
  </div>
</div>

