<%= provide(:title, "节点") %>
<div class="rows">
  <div class="span9">
  	<div class="box">
  	  <% @nodes.each do |node| %>
       <%= link_to node.name, node_path(node) %>
			 <%= output_content node.introduction %><br>
      <% end -%>
  	</div>
  </div>
</div>

