<%= provide(:title, "节点") %>
<div class="rows">
  <div class="span9">
  	<div class="box">
  	  <% @nodes.each do |node| %>
       <%= node.name %>
       <%= output_content node.introduction %>
       <%= link_to "删除", node, :method => :delete, :confirm => "谨慎操作，删除后对应的topic将无法显示"%><br>
      <% end -%>
  	</div>
  </div>
</div>

