@import "globals/variables.css.scss";

html{
  display: block;
}

body{
	padding-top: 70px;
  /*background: url(/assets/bg.png) ;*/
	background-color: #e1e2e4;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #333333;	
}


h1, h2, h3, h4, h5, h6{
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
} 

h1{
  font-size: 1.5em;
}

h2{
  font-size: 1.2em;
}

h3{
  font-size: 1em
}

h4{
  font-size: 0.8em
}

h5{
  font-size: 0.5em
}

p{
  margin: 0px;
}

a{
  color: #386A85;
  &:hover{
    color: #294F63;
  }
}

span{
  width: auto;
  padding-left: 8px;
  color: #aaa
}

.span1{
  color: #aaa;
}

.box {
  background-color: white;
  padding:10px;
  margin: 0 0 20px 0; 
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}

