@import "globals/variables.css.scss";

html{
	overflow-y: scroll;
}

body{
	padding: 60px;	
}

.footer {
  border-top: 1px;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  p {
  	font-size: 12px;
  }
  a{
  	color: $grayLight;
  	&:hover{
  		text-decoration: none;
  		color: #389abd;
  	}
  }
}
