@import "globals/variables.css.scss";

html{
  display: block;
}

body{
	padding: 70px;
  background-color: #eeeeee;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #333333;	
}


h1, h2, h3, h4, h5, h6{
  margin-top: 10px;
  margin-bottom: -20px;
  padding-bottom: 0px;
} 

h1{
  font-size: 1.5em;
}

h2{
  font-size: 1.2em;
}

h3{
  font-size: 1em
}

h4{
  font-size: 0.8em
}

h5{
  font-size: 0.5em
}

p{
  margin: 0px;
}

a{
  color: #3498db;
  &:hover{
    color: #2980b9;
  }
}

span{
  width: auto;
  padding-left: 8px;
  color: #aaa
}

.span1{
  color: #aaa;
}

.box {
  background-color: white;
  padding:10px;
  margin: 0 0 20px 0; 
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
  -moz-box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
  box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
}



