<%= provide(:title, "修改话题") %>
<div class="row">
  <div class="span9">
  	<div class="box">
  	  <span class="box_header">修改话题</span>
      <%= render "form" %>
  	</div>
  </div>
  <div class="span3">
  	<%= render 'shared/side_box/topic_create' %>  	
  </div>
</div>
