<%= provide(:title, "创建话题") %>
<div class="row">
  <div class="span9">
    <div class="box">
      <span class="box_header">创建话题</span>
      <%= render "form" %>
    </div>
  </div>
  <div class="span3">
 <% if user_signed_in? %>
     <%= render_cell :user, :current_user_infos, :user => current_user %>
   <% else %>
     <%= render_cell :user, :welcome %>
   <% end %>
  </div>
</div>

