<%= provide(:title, "成员") %>
<div class="rows">
  <div class="span9">
  	<div class="box">
   <% @users.each do |user| %>
   	<%= link_to image_tag(user.avatar_url(:normal), :class => "img-rounded"), user %>
    <%= user.username %>
  <% end %>
</div>
 
  </div>
</div>



