<%= provide(:title, "话题") %>
<div class="row">
  <div class="span9">
    <div class="box">
    	<div class="box_header"><div class="stats_user_name"><%= link_to @user.username, user_path(@user) %>发表的话题</div>     
    </div>
    <%= render_cell :user, :all_topics, :user => @user %>
  </div>
</div>

  <div class="span3">
    <div>
      <%= render_cell :user, :douban, :user => @user%>
    </div>
  </div>
  </div>

