<%= provide(:title, "30度历程") %>
<div class="row">
  <div class="span9">
	<div class="box">
	   <div class="staticpage">
		 <h3>各位亲爱的用户：</h3><br><br>
				大家好，我是<a href="/users/1">Tailang</a>同学，所谓“30度历程“其实就是扯扯我写这个小站的一些前因后果和一些经过，还有小站名称的由来。因为文笔比较烂,所以不太会写软文，再加上从小以来想法远远快于行动的毛病，下文可能会出现各种语句不通顺+各种错别字的情况，望见谅指正。^_^<br><br>
				<%= image_tag 'help/lasa.png' %><br><br>
				<h3>为什么写这个小站?</h3><br><br>
				写这个小站是我出于两方面的原因吧，一个是理想层面的，还有一个是技术层面的。<br><br>
				理想层面的话扯的可能比较远了，但我不想长话短说，还是扯扯扯......<br><br>
				这个故事还得从我出生开始讲起，那天......，嘎嘎，没那么远，开个玩笑。因为小的时候很喜欢背诵地图，所以对地图上的那些地方非常的向往，但是从小我就生活在比较“闭塞”的环境中，没有机会去那些地方（当然我的童年还是非常快乐的）。也许大家不太了解这是一种什么样的境况，那我就举个例子吧：我家离大海也就半个小时都不到的车程，但第一次看见大海是我高中毕业...虽然当时看到是杭州湾入海口泛黄的海水，但我依然无比兴奋。<br><br>
				后来去了外省上学，在火车上看到窗外呼啸而过的风景时，我就埋下了一个小想法---骑车回家。 <a href="http://blog.caoping1990.cn/blog/2013/03/03/on-the-road/">这个小理想也于2012年初完成了</a>，一路上也写下了我人生的好多第一次。后来我有了更大的想法，骑行318去西藏，但我非常惭愧，一直拖拖拉拉，至今都还没完成这个目标。<br><br>
				所以我就想建个小站，结交更多有共同梦想的朋友。我们可以相互帮助，比如提供沙发；相互交流，比如分享路途上的趣闻和经验......<br><br>
				从技术层面上讲，是这样的，Tailang同学的专业是电子通信类的，所以以前在学校实验室玩了差不多2年的电子硬件。后来因为各种原因（具体的我就不详说了）我选择了离开实验室，开始学习web方面的知识，想开发一个小站。因为那时一直在学电子类的技术，对web方面真的是从零开始，当时傻傻的抱着html书看，现在想想真的好傻啊，知识多用用就会了，真的没必要。<br><br>
				后来也有朋友提醒：你不是想做一个论坛吗？用DZ多方便啊！但是出于3个原因我没有听从他们的想法。1.因为我是学习技术的，希望自己的小站的代码是自己写的，而不是直接用别人的；2.DZ的UI太难看了（纯属个人看法）；3.不想看PHP。<br><br>
				不选择PHP后，大家会觉得我会使用java什么，但是发现java有点重，凭我一个人可能有点困难啊。作为一个忠实的豆瓣用户，我选择了Python。正当我把Python的基础知识粗略的看了一下后，有人提议我看一下Ruby（Ruby on Rails）......然后然后......我就选择了Ruby，因为我发现她用起来更爽。<br><br>
				所以写这个小站的另一个目的是提高自己的一些技能。<br><br>
				<h3>开发过程</h3><br><br>
				其实真正开发小站只用了半个多月吧（8月底--9月中旬）。但是之前学习Ruby on Rails，拖拖拉拉学了好久好久，甚至我都不好意思说了，现在Rails的使用也就入门的阶段，以后的日子会继续学习，继续修改小站，使她更好。<br><br>
				关于前端开发。其实我对前端一巧不通（可以看懂别人的一些代码，但自己写就 oh my god了），当时打算请教我班某前端大牛，但是他实习去了，所以只能自己参考其他网站，进行编写修改......现在小站的UI还很烂，我正在学习css(scss),javascript(jquery)中，会不断修改网站UI。<br><br>
				<h3>名称由来</h3><br><br>
				一直有骑车去西藏的想法，而318国道又差不多和北纬30度线重合，然后“阳光”就像一种希望，就像心中一直燃烧的梦想，指引大家前行。也许“阳光”对我来说更有一种现实意义吧---拉萨的阳光......<br><br>
				这就是 “30度阳光” 的由来。<br><br>
	  </div>
	</div>
  </div>
  <div class="span3">
  	<%= render 'shared/site_help' %>
  </div>
</div>
