<%= provide(:title, "帮助") %>
 	<div class="row">
  <div class="span9">
  	<div class="box">
  		<h1>如何上传图片？(更新：已经支持本地图片上传，以下帮助仍支持远程图片上传)</h1><br>
      <h2>本站暂时不支持本地图片上传，您可以使用远程图片或图床来添加图片.</h2><br>
			和其他网站的编辑器类似，你只要点击图片按钮，就会跳出一个对话框，然后把远程图片的地址复制进去就行了。如何得到远程图片的地址呢，你可以参考下面的内容，暂时不支持本地电脑上的图片上传。<br><br>
			下面我简单描述一下如何获得远程图片的地址. <ctive_record下工作<br><br>
			1.首先你可以将你要上传的图片，上传到微博，也可以是网上的图片.......<br><br>
			2.上传后你将鼠标放到图片上点击鼠标右键，再选择点击“复制图片网址”(不同浏览器可能叫法不一样，但我们的目的就是获得图片的地址)<br><br>
			3.把刚刚复制的图片地址粘添到对话框的图片地址框栏，再按确定键就OK了 <br><br>
  	  <ul>
  	  	<h2><li>除了上面说的一些社交网站，你还可以使用"围脖是个好图床"</li></h2><br>
  	  	<h3>(0)请先登入你的新浪微博帐号</h3><br>
  	  	(1)登入<a href="http://weibotuchuang.sinaapp.com/", target="_blank">http://weibotuchuang.sinaapp.com/</a><br>
  	  	(2)然后会打开一个新的窗口,如下 <br>
  	  	 <%= image_tag("help/2.png") %><br>
  	  	(3)接着点击屏幕中心,会跳出你本地电脑的对话框，然后您就可以选择你要上传的图片了 <br>
  	  	(4)上传成功后，会出现一个链接，请选中复制它 <br>
  	  	<%= image_tag "help/3.png" %><br>
  	  	(5)然后返回你的编辑器,操作和以上相同 <br>
  	  	<h2><li>使用其他图床</li></h2><br>
  	  	原理还是这个，你可以将图片发到其他你知道的图床，然后得到图片的远程图片链接 <br>
  	  </ul>
			<br><br>
			<h1>如何添加flash视频</h1><br>

			1.比如在优酷中，每个视频都有一个视频分享地址，如下图<br><br>
			<%= image_tag "help/flash.png" %><br>
			2.只要将四个地址的第二个地址插入flash对话框的URL中，再按确定就OK了。<br><br>
     <h1>编辑器其他帮助!</h1><br>
     <ol>
      <h2><li>@某人</li></h2><br>
      与微博类似，你可以在评论中@某个人（注意格式： @ + 用户名 + 空格），然后会创建一条消息发送给你@的人，提醒他有人@他了.
     </ol>
  	</div>
</div>

