<%= provide(:title, "搜索") %>
<div class="row">
  <div class="span9">
    <div class="box">

      <!-- 在这添加google搜索代码 -->

<script>
  (function() {
    var cx = '007571709812528908409:63hu8cmfpcw';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
  </div>
  </div>
  <div class="span3">
    <% if user_signed_in? %>
    <%= render 'shared/user_infos' %>
    <% else %>
    <%= render 'shared/welcome' %>
    <% end %>
  </div>
</div>
