<%= provide(:title, "搜索") %>
<div class="row">
  <div class="span9">
    <div class="box">

      <!-- 在这添加google搜索代码 -->

    </div>
  </div>
  <div class="span3">
    <% if user_signed_in? %>
    <%= render 'shared/user_infos' %>
    <% else %>
    <%= render 'shared/welcome' %>
    <% end %>
  </div>
</div>