<%= provide(:title, "感谢") %>
<div class="row">
  <div class="span9">
  	<div class="box">
      <div class="staticpage">
        <h1>感谢</h1><br>
        曾经玩了2年电子硬件,现在作为ruby on rails初学者，更作为一个web初学者，能完成这个网站得到了很多人的帮助。所以在此感谢以下诸位:
        <ul>
         <h2><li><a href="http://ruby-china.org/", target="_blank">RubyChina</a></li></h2><br>
         感谢rubychina社区的朋友/前辈，每次在社区提问，都能在很短时间得到回复和解决。虽然我很少参与讨论，但每次看大家的分享和讨论，我都能学到一些新的知识，谢谢!(超友好的社区，如果你要学ruby，那就赶快加入吧)<br>

         <h2><li><a href="http://happycasts.net/about", target="_blank">happypeter</a></li></h2><br>
         happypeter前辈的<a href="http://happycasts.net/", target="_blank">happycasts</a>网站上的视频教学非常棒，虽然都很简短，但都非常实用。thanks <br>

         <h2><li><a href="http://ruby-china.org/rei", target="_blank">Rei</a></li></h2><br>
         感谢Rei解答我的问题，在Rei身上看到了非常geek的性格。还有Rei的某些行动，非常让人佩服。顺便在这推荐一下Rei的产品 <a href="https://writings.io/", target="_blank">writings.io</a>,喜欢写文字的朋友可以尝试一下。

         <h2><li><a href="http://ruby-china.org/huacnlee", target="_blank">huacnlee</a></li></h2><br>
         rubychina的第一作者，看了一些<a href="https://github.com/ruby-china/ruby-china", target="_blank">rubychina的源码</a>，借鉴了一些功能的实现,差点准备仿照rubychina使用mogodb,但为了避免学习曲线太陡峭最后还是选择了mysql。thanks <br>

         <h2><li><a href="http://ruby-china.org/daqing", target="_blank">daqing</a></li></h2><br>
         非常感谢前辈,通过阅读您的开源项目<a href="https://github.com/daqing/rabel", target="_blank">rabel</a>,学到了很多.<br>

         <h2><li><a href="http://ruby-china.org/jasl", target="_blank">jasl</a></li></h2><br>
         感谢你将<a href="http://xigan.com/", target="_blank">喜感网</a>的第一版<a href="https://github.com/jasl/a_rails_start_up_omakase", target="_blank">开源</a>，代码干净简洁，非常适合初学者学习，还有你写的Readme，太棒了。thanks <br>

         <h2><li><a href="http://glyphicons.com/", target="_blank">glyphicons</a></li></h2><br>
         提供小图标免费使用 <br>

        </ul>
        <h1>特别感谢</h1><br>
        <ul>
          <h2><li>小云萍同学</li></h2><br>
          为网站制作了logo和默认头像，还有给我买零食吃.<br>
        </ul>
      </div>
    </div>
  </div>
  <div class="span3">
    <%= render 'shared/site_help' %>
  </div>
</div>
