<div class="box">
<div class="box_header">
  想得到更好的体验吗？推介使用:
</div>
<%= link_to image_tag('firefox.png'), "http://firefox.com.cn/download/", :target => "_blank" %>
<%= link_to image_tag('google.png'), "http://www.google.cn/intl/zh-CN/chrome/browser/?installdataindex=chinabookmarkcontrol&brand=CHUN", :target => "_blank" %>
<%= link_to image_tag('opera.png'), "http://www.opera.com/zh-cn", :target => "_blank" %>
</div>