<div class="box_header">
  想得到更好的体验吗？推介使用:
</div>
<a href="http://firefox.com.cn/download/", target=_blank><img src="assets/firefox.png"></a>
<a href="http://www.google.cn/intl/zh-CN/chrome/browser/?installdataindex=chinabookmarkcontrol&brand=CHUN", target=_blank><img src="assets/google.png"></a>
<a href="http://www.opera.com/zh-cn", target=_blank><img src="assets/opera.png"></a>