<span id="follow_topic">
<% if user_signed_in? %>
  <% if current_user.following?(topic) %>
   <%= link_to raw('<span><i class="icon-star"></i>取消收藏</span>'), [topic, :follow], :method => :delete, :id => "unfollow", :remote => true %>
   <% else %>
  <%= link_to raw('<span><i class="icon-star-empty"></i>收藏</span>'), [topic, :follow], :method => :post, :id => "follow", :remote => true %>
  <% end %>
<% end %>     
</span>