<div class="box">
  <div class="box_header">编辑器帮助</div>
	<h3>注意哦？在话题中@某人，对方是收不到提醒消息的，只能在评论是可以@某人
		在发表话题时我们使用富文本编辑器，如您现在所见的，但是当你评论时，我们没有使用富文本编辑器，而只是一个简单的编辑器，但它支持markdown语法，也可以添加远程图片。<br>详细帮助 <a href="/help", target="_blank">请点这里</a></h3>
</div>
