<div class="box">
  <div class="box_header">关于网站</div>
  <ul>
    <li><a href="/help", target="_blank">如何使用编辑器/上传图片帮助</a></li>
    <li><a href="/thanks">感谢你们</a></li>
    <li><a href="/advice">如何向我们提意见和建议</a></li>
    <li><a href="/about">关于我们</a></li>
  </ul>
</div>
