<% @comments.each do |comment| %>
<div class="topic_line">
  <div id="current_topics_title">
	<i class="icon-file"></i>回应话题：<%= link_to comment.commentable.title, topic_path(comment.commentable) %>
	<span class="pull-right">于<%= time_format comment.created_at %></span>
  </div>
  <%= kindeditor_output_content comment.comment %>
</div>
<% end -%>



