@import "globals/variables.css.scss";

/* header */
#logo {
	float: left;
	margin-right: 20px;
	font-size: 20px;
	color: #049cdb;
	letter-spacing: -1px;
	line-height: 1;
	&:hover{
		color: #049cdb;
		text-decoration: none;
	}
}

/*footre*/
.footer {
  border-top: 1px;
  margin-top: 10px;
  padding-top: 20px;
  //padding-bottom: 20px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  p {
  	font-size: 12px;
  }
  a{
  	color: $grayLight;
  	&:hover{
  		text-decoration: none;
  		color: #389abd;
  	}
  }
}