/*
 *= require_self
 *= require_tree .
 */
 
$navbarBackgroundHighlight: #005580;
$navbarLinkColor: #ffffff;
$navbarLinkColorHover: #ffffff;
$dropdownColor: #294f63;
@import "bootstrap";
#gotop{
	display: block;
	position: fixed;
	bottom: 50px;
	right: 40px;
}
