// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "globals/variables.css.scss";
.comment_line{
	border-bottom: 1px solid $grayMediumLight;
	padding-bottom: 0px;
	margin-bottom: 10px;
}

.word_break{
	word-wrap: break-word;
}

.comment_infos{
	font-size: 12px;
	border-bottom: 1px dotted $grayMediumLight;
	padding-bottom: 5px;
	#user_name{
		color: #888;
        text-decoration: none;
        font-weight: bold;
        margin-right: 8px;
        &:hover{
        	color: #555;
        }
	}
	
}