// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "globals/variables.css.scss";
.topic_line{
	border-bottom: 1px solid $grayMediumLight;
	padding-bottom: 20px;
	margin-bottom: 10px;

}
 .avatar{
 	float: left;
 	width: auto;
 	padding-right: 10px;
 }