// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "globals/variables.css.scss";
.img_username{
	border-bottom: 1px solid $grayMediumLight;
	padding-bottom: 5px;
	margin-bottom: 5px;
	a {
		color: $grayLight;
		font-size: 14px;
		font-weight: bold;
	}
}

