<p>您好 <%= @resource.email %>!</p>

<p>您是不是忘记了自己在30度阳光社区的密码. 您可以通过下面的链接进行修改.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>如果您并没有忘记密码,请忽略该邮件.</p>
<p>你的密码不会被改变.</p>
<p>如果遇到什么问题请联系我(caopingcpu@gmail.com),或直接在论坛上发帖.</p>
<p>感谢您的加入!</p>