<div class="footer">
	©2013 30度阳光 all rights reserved.&nbsp;&nbsp;&nbsp;<a href="/topics/1">免责声明</a>&nbsp;&nbsp;&nbsp;<a href="http://www.miitbeian.gov.cn/" target="_blank">湘ICP备13008469号</a>
</div>

 <!-- Baidu statistics --> 
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fc0eb39e06cc04cd6acd12101f8b1bb90' type='text/javascript'%3E%3C/script%3E"));
</script>
