<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  	<div class="container">
  	  <a id="logo" href="#">30度阳光  </a>
      <ul class="nav navbar-nav navbar-left">
        <li><a href="#">社区</a></li>
        <li><a href="#">成员</a></li>
        <li><a href="#">关于</a></li>
        <form class="navbar-form navbar-left" role="search">
           <div class="form-group" id="search">
             <input type="text" class="form-control" placeholder="Search">
           </div>
         </form>
      </ul>

      <ul class="nav navbar-nav navbar-right">
      	<% if user_signed_in? %>
      	  <li>
      	  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tailang <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">我的帐号</a></li>
            <li><a href="#">帐号设置</a></li>
            <li><%= link_to '退出', destroy_user_session_path, :method => :delete %></li>
          </ul>
          </li>
      	<% else %>
      		<li><%= link_to "登录", new_user_session_path %></li>
      		<li><%= link_to "注册", new_user_registration_path %></li>
      	<% end %>
      </ul>
    </div>
</div>